<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mb-4 d-flex">
            <div class="card h-100 w-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Container 1</h5>
                    <p class="card-text flex-grow-1">
                    </p>
                    <div class="mt-auto">
                        <label for="fileInput1" class="form-label">Upload File</label>
                        <input class="form-control" type="file" id="fileInput1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 d-flex">
            <div class="card h-100 w-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Container 2</h5>
                    <p class="card-text flex-grow-1">
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
