<!-- <header class="sticky-header py-2">
  <div class="container d-flex justify-content-between align-items-center">
    <a href="/" class="navbar-brand">
      <img src="assets/images/logo.png" alt="Logo" height="40">
    </a>
      </div>
</header> -->
<header>
  <img class="headerImg" src="assets/images/headerImg.png" alt="">
  <div class="navLogo">
      <img src="assets/images/aznLogo.png" alt="">
      <p>Innovating Byond Boundries</p>
  </div>
</header>

<div class="content flex-grow-1 container my-5">
  <router-outlet></router-outlet>
</div>

<footer class="fixed-bottom  bg-white">
  <img src="assets/images/headerImg.png" class="footerImg" alt="">
 <div class="footerContainer">
  <div class="footerCol">
      <p>+91 98765 43210<br>+91 90123 45698</p>
      <img src="assets/images/phone.png" alt="">
  </div>
  <div class="footerCol">
      <p>info&#64;a2n.com<br>example&#64;a2n.com</p>
      <img src="assets/images/apple.png" alt="">
  </div>
  <div class="footerCol">
      <p>Baner Pune<br>(MH) India</p>
      <img src="assets/images/pin.png" alt="">
  </div>
 </div>
</footer>