<div class="banking-container">
    <div class="rob-container">
        <h1 class="rob-header">Meet {{ headerName }}!</h1>
        <p class="rob-description">{{ headerName }} provides real-time assistance for order inquiries, manages modifications efficiently, and ensures optimal inventory fulfillment. Rob’s capabilities help retailers maintain smooth operations</p>
      
        <div class="skills-section">
          <h2 class="section-title">Live Skills</h2>
          
          <div class="row">
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="skill-card d-flex flex-column">
                <h3 class="skill-title">Order Inquiry</h3>
                <p class="skill-description">This use case demonstrates how Multiple agents collaborate to automate Order Inquiry.</p>
                <a href="javascript:void(0)" (click)="openInDashboard('dashboard','http://www.nplus1.in')" class="btn btn-primary btn-sm mt-auto align-self-end">View Demo</a>
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="skill-card d-flex flex-column">
                <h3 class="skill-title">Order Fulfillment</h3>
                <p class="skill-description">This use case demonstrates how Agents automate from Purchase order processing to Sales order creation.</p>
                <a href="javascript:void(0)" (click)="openInDashboard('demo1','http://www.nplus1.in')" class="btn btn-primary btn-sm mt-auto align-self-end">View Demo</a>
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="skill-card d-flex flex-column">
                <h3 class="skill-title">Invoice Creation</h3>
                <p class="skill-description">This use case demonstrates how Agents automate invoice process in AR cycle.</p>
                <a href="javascript:void(0)" (click)="openInDashboard('demo2','http://www.nplus1.in')" class="btn btn-primary btn-sm mt-auto align-self-end">View Demo</a>
              </div>
            </div>
          </div>
        </div>
      
        <div class="skills-section">
          <h2 class="section-title">Upcoming Skills</h2>
          
          <div class="row">
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="skill-card upcoming d-flex flex-column">
                <h3 class="skill-title">Underwriting</h3>
                <p class="skill-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s</p>
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="skill-card upcoming d-flex flex-column">
                <h3 class="skill-title">Underwriting</h3>
                <p class="skill-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s</p>
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="skill-card upcoming d-flex flex-column">
                <h3 class="skill-title">Underwriting</h3>
                <p class="skill-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
